### 변수 설명
    InvoiceNo(송장번호) : 각 거래에 고유하게 할당된 6자리 정수.('C'로 시작하면 취소를 나타냄)
    StockCode(제품코드): 각 개별 제품에 고유하게 할당된 5자리 정수.
    Description(설명): 상품명
    Quantity(수량): 거래당 각 제품(항목)의 수량
    InvoiceDate(송장날짜): 각 거래가 발생한 날짜와 시간
    UnitPrice(단가) : 단위당 제품 가격
    CustomerID(고객ID): 각 고객에게 고유하게 할당된 5자리 정수
    Country(국가): 각 고객이 거주하는 국가의 이름

### 라이브러리 호출

In [125]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#한글폰트 가져오기
from matplotlib import rc
rc('font', family='NanumGothic')

# Warning 메세지를 뜨지 않게 해줌
import warnings
warnings.filterwarnings('ignore')

In [129]:
data = pd.read_csv('./online_retail_II.csv')

In [130]:
data.describe()

           Quantity         Price    Customer ID
count  1.067371e+06  1.067371e+06  824364.000000
mean   9.938898e+00  4.649388e+00   15324.638504
std    1.727058e+02  1.235531e+02    1697.464450
min   -8.099500e+04 -5.359436e+04   12346.000000
25%    1.000000e+00  1.250000e+00   13975.000000
50%    3.000000e+00  2.100000e+00   15255.000000
75%    1.000000e+01  4.150000e+00   16797.000000
max    8.099500e+04  3.897000e+04   18287.000000

In [131]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

### InvoiceDate 주문날짜 -> datetime으로 변경

In [132]:
data['InvoiceDate'].describe()

count                 1067371
unique                  47635
top       2010-12-06 16:57:00
freq                     1350
Name: InvoiceDate, dtype: object

In [133]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

In [134]:
data['InvoiceDate'].describe()

count                          1067371
mean     2011-01-02 21:13:55.394028544
min                2009-12-01 07:45:00
25%                2010-07-09 09:46:00
50%                2010-12-07 15:28:00
75%                2011-07-22 10:23:00
max                2011-12-09 12:50:00
Name: InvoiceDate, dtype: object

### 2009년 데이터

In [135]:
#2010년 12월 1일 이전 데이터만 사용
beforedf = data[data['InvoiceDate'] < '2010-12-01']

In [136]:
beforedf

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
502933,536364,21175,GIN + TONIC DIET METAL SIGN,12,2010-11-30 19:35:00,2.10,14441.0,United Kingdom
502934,536364,21524,DOORMAT SPOTTY HOME SWEET HOME,2,2010-11-30 19:35:00,7.95,14441.0,United Kingdom
502935,536364,21098,CHRISTMAS TOILET ROLL,12,2010-11-30 19:35:00,1.25,14441.0,United Kingdom
502936,536364,21181,PLEASE ONE PERSON METAL SIGN,24,2010-11-30 19:35:00,2.10,14441.0,United Kingdom
502937,536364,22415,WHITE TISSUE REAM,10,2010-11-30 19:35:00,7.95,14441.0,United Kingdom

In [139]:
beforedf['Invoice'].value_counts()

Invoice
536031     582
490074     580
491966     579
490149     559
491969     548
          ...
C525580      1
C495772      1
500873       1
495773       1
C515299      1
Name: count, Length: 27728, dtype: int64

    주문수 27728

In [138]:
df = beforedf.copy()

### 결측치

In [140]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 502938 entries, 0 to 502937
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      502938 non-null  object
 1   StockCode    502938 non-null  object
 2   Description  500117 non-null  object
 3   Quantity     502938 non-null  int64
 4   InvoiceDate  502938 non-null  datetime64[ns]
 5   Price        502938 non-null  float64
 6   Customer ID  402731 non-null  float64
 7   Country      502938 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 34.5+ MB
None

In [141]:
print('상품 설명 변수의 결측치 개수:',data['Description'].isna().sum())
print('고객아이디 결측치 개수:',data['Customer ID'].isna().sum())

상품 설명 변수의 결측치 개수: 4382
고객아이디 결측치 개수: 243007

In [142]:
df.describe()
#2009년 12월 1일부터 2010년 11월 30일까지

,Quantity,InvoiceDate,Price,Customer ID
count,502938.000000,502938,502938.000000,402731.000000
mean,10.469269,2010-06-21 07:16:18.978084608,4.568358,15352.163156
min,-9600.000000,2009-12-01 07:45:00,-53594.360000,12346.000000
25%,1.000000,2010-03-16 13:00:00,1.250000,13979.000000
50%,3.000000,2010-06-27 13:29:00,2.100000,15311.000000
75%,10.000000,2010-10-07 11:46:00,4.210000,16794.000000
max,19152.000000,2010-11-30 19:35:00,25111.090000,18287.000000
std,108.678975,NaN,143.818137,1677.027739

### 전처리

#### CustomerID가 결측인 행 삭제

In [143]:
df = df[~df['Customer ID'].isna()]
df['Customer ID'].isna().sum()
df = df.reset_index(drop=True)
df_NaN = df.copy()

#### 취소된 주문 삭제

In [144]:
Stock_len = df['StockCode'].astype(str).str.len()
df = df[~(df['Invoice'].astype(str).str.startswith('C') )]
df_C = df.copy()

#### 변수명 변경

In [145]:
df = df.rename(columns={'Invoice':'InvoiceNo','Customer ID':'CustomerID','Price':'UnitPrice'})

In [146]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 393190 entries, 0 to 402730
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    393190 non-null  object
 1   StockCode    393190 non-null  object
 2   Description  393190 non-null  object
 3   Quantity     393190 non-null  int64
 4   InvoiceDate  393190 non-null  datetime64[ns]
 5   UnitPrice    393190 non-null  float64
 6   CustomerID   393190 non-null  float64
 7   Country      393190 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.0+ MB

In [147]:
print('상품 설명 변수의 결측치 개수:',df['Description'].isna().sum())
print('고객아이디 결측치 개수:',df['CustomerID'].isna().sum())

상품 설명 변수의 결측치 개수: 0
고객아이디 결측치 개수: 0

#### 관리자 정보 제거

In [148]:
# 따로 확인없이 2010년에서 있었던 관리자 정보 제거

#M - Manual: 관리자 정보 + 해석불가
df = df.drop(df[df['StockCode'] == 'M'].index)

#D - DIscount, CRUK - Cancer Research UK 할인내역
df = df.drop(df[df['StockCode'] == 'D'].index)
df = df.drop(df[df['StockCode'] == 'CRUK'].index)

#C2 - Carriage, DOT - DOTCOM POSTAGE, POST - POSTAGE: 배송료
df = df.drop(df[df['StockCode'] == 'C2'].index)
df = df.drop(df[df['StockCode'] == 'DOT'].index)
df = df.drop(df[df['StockCode'] == 'POST'].index)

#BANK CHARGES - Bank Charges: 소비 내역이 아님
df = df.drop(df[df['StockCode'] == 'BANK CHARGES'].index)

#### Description 하나로 통일

In [149]:
SC_Dec_count_before = df[['StockCode','Description']].groupby('StockCode').nunique()
print('통일 전',SC_Dec_count_before.value_counts()) #2,3,4자리를 한자리로 수정 필요

통일 전 Description
1              3585
2               394
3                19
4                 6
Name: count, dtype: int64

In [150]:
SC_Dec_count_before[SC_Dec_count_before['Description'] == 3].index

Index(['20750', '21523', '21524', '22139', '22191', '22200', '22201', '22333',
       '22343', '22356', '22536', '22740', '22844', '22845', '22852', '22853',
       '22952', '84509C', '85099B'],
      dtype='object', name='StockCode')

In [ ]:
df[df['StockCode']=='84509C']

In [ ]:
df[df['StockCode']=='21524']

In [151]:
for i in [2,3,4]: #2~4자리
    for j in SC_Dec_count_before[SC_Dec_count_before['Description'] == i].index: #groupby를 해서 2~4자리인 애들의 index가 StockCode임
        first_description = df.loc[df['StockCode'] == j, 'Description'].iloc[0] #StockCode가 일치하는 행 -> Description을 출력 후 맨 처음 값을 저장
        df.loc[df['StockCode'] == j, 'Description'] = first_description #저장한 값을 StockCode가 일치하는 모든 Description으로 변경

SC_Dec_count_after = df[['StockCode','Description']].groupby('StockCode').nunique()
print('통일 후',SC_Dec_count_after.value_counts())

통일 후 Description
1              4004
Name: count, dtype: int64

### StockCode 확인

In [152]:
df['StockCode'].astype(str).str.len().value_counts()

StockCode
5    338024
6     53120
7       782
4        14
Name: count, dtype: int64

#### 4자리

In [153]:
print(df[df['StockCode'].str.len() == 4]['StockCode'].value_counts())

StockCode
PADS    14
Name: count, dtype: int64

In [154]:
df[df['StockCode']=='PADS']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
42940,494914,PADS,PADS TO MATCH ALL CUSHIONS,1,2010-01-19 17:04:00,0.001,16705.0,United Kingdom
52552,496222,PADS,PADS TO MATCH ALL CUSHIONS,1,2010-01-29 13:53:00,0.001,13583.0,United Kingdom
55049,496473,PADS,PADS TO MATCH ALL CUSHIONS,1,2010-02-01 15:38:00,0.001,17350.0,United Kingdom
56504,496643,PADS,PADS TO MATCH ALL CUSHIONS,1,2010-02-03 11:58:00,0.001,13408.0,United Kingdom
65381,497935,PADS,PADS TO MATCH ALL CUSHIONS,1,2010-02-15 10:47:00,0.001,13408.0,United Kingdom
70756,498562,PADS,PADS TO MATCH ALL CUSHIONS,1,2010-02-21 12:03:00,0.001,15182.0,United Kingdom
74401,499056,PADS,PADS TO MATCH ALL CUSHIONS,1,2010-02-24 13:46:00,0.001,13765.0,United Kingdom
76615,499399,PADS,PADS TO MATCH ALL CUSHIONS,1,2010-02-26 13:26:00,0.001,14459.0,United Kingdom
91855,501176,PADS,PADS TO MATCH ALL CUSHIONS,1,2010-03-15 11:00:00,0.001,14857.0,United Kingdom
118861,504332,PADS,PADS TO MATCH ALL CUSHIONS,1,2010-04-12 16:30:00,0.001,12671.0,Germany
136667,506303,PADS,PADS TO MATCH ALL CUSHIONS,1,2010-04-29 10:43:00,0.001,14249.0,United Kingdom
270270,522766,PADS,PADS TO MATCH ALL CUSHIONS,1,2010-09-16 13:58:00,0.001,15182.0,United Kingdom
354141,531433,PADS,PADS TO MATCH ALL CUSHIONS,1,2010-11-08 11:54:00,0.001,13317.0,United Kingdom
375374,533528,PADS,PADS TO MATCH ALL CUSHIONS,1,2010-11-17 15:08:00,0.001,15750.0,United Kingdom

    -> PADS : 정상 상품 코드

#### 7자리

In [155]:
print(df[df['StockCode'].str.len() == 7]['StockCode'].value_counts())

StockCode
15056BL    532
79323LP    159
79323GR     76
TEST001     11
ADJUST2      3
TEST002      1
Name: count, dtype: int64

    -> TEST001,TEST002,ADJUST2 -> 삭제
    (아래 원하면 돌려보세요)
    -> 15056BL, 79323LP, 79323GR : 정상 상품 코드

In [ ]:
df[df['StockCode']=='TEST001']

In [ ]:
df[df['StockCode']=='TEST002']

In [ ]:
df[df['StockCode']=='ADJUST2']

In [ ]:
df[df['StockCode']=='79323LP']

In [ ]:
df[df['StockCode']=='79323GR']

##### TEST001, TEST002,ADJUST2 삭제

In [156]:
# TEST001
df = df.drop(df[df['StockCode']=='TEST001'].index)
# TEST002
df = df.drop(df[df['StockCode']=='TEST002'].index)
# ADJUST2
df = df.drop(df[df['StockCode']=='ADJUST2'].index)

In [157]:
df['StockCode'].astype(str).str.len().value_counts()

StockCode
5    338024
6     53120
7       767
4        14
Name: count, dtype: int64

#### 6자리

In [158]:
print(df[df['StockCode'].str.len() == 6]['StockCode'].value_counts())

StockCode
85123A    3046
85099B    1693
82494L     981
85099F     874
85099C     814
          ...
35751D       1
90004A       1
71101A       1
72751C       1
90011A       1
Name: count, Length: 1280, dtype: int64

In [159]:
# 6자리 중 앞 5자리가 모두 숫자인 StockCode를 확인
numeric_stock_codes = df[(df['StockCode'].str.len() == 6) & (df['StockCode'].str[:5].str.isdigit())]

In [160]:
numeric_stock_codes['StockCode'].value_counts()

StockCode
85123A    3046
85099B    1693
82494L     981
85099F     874
85099C     814
          ...
90152A       1
79065A       1
47348A       1
90177A       1
90011A       1
Name: count, Length: 1278, dtype: int64

In [161]:
# 6자리 중 앞 6자리가 모두 숫자인 StockCode를 확인
Allnumeric_stock_codes = df[(df['StockCode'].str.len() == 6) & (df['StockCode'].str[:6].str.isdigit())]
Allnumeric_stock_codes['StockCode'].value_counts()

Series([], Name: count, dtype: int64)

In [162]:
# 6자리 중 앞 5자리가 모두 숫자가 아닌 StockCode를 확인
Nonnumeric_stock_codes = df[(df['StockCode'].str.len() == 6) & (~df['StockCode'].str[:5].str.isdigit())]
Nonnumeric_stock_codes['StockCode'].value_counts()

StockCode
ADJUST    32
SP1002     2
Name: count, dtype: int64

    1280개 중 2개는 앞자리 5개가 숫자가 아님

In [ ]:
df[df['StockCode'] == 'SP1002']

    ADJUST : 관리자 데이터 -> 삭제
    SP1002 : 정상 상품 코드

##### ADJUST 삭제

In [163]:
df = df.drop(df[df['StockCode']=='ADJUST'].index)

In [164]:
# 6자리 중 앞 5자리가 모두 숫자가 아닌 StockCode를 확인
Nonnumeric_stock_codes = df[(df['StockCode'].str.len() == 6) & (~df['StockCode'].str[:5].str.isdigit())]
Nonnumeric_stock_codes['StockCode'].value_counts()

StockCode
SP1002    2
Name: count, dtype: int64

In [165]:
df['StockCode'].astype(str).str.len().value_counts()

StockCode
5    338024
6     53088
7       767
4        14
Name: count, dtype: int64

#### 5자리

In [166]:
# 5자리 중 앞 5자리가 모두 숫자가 아닌 StockCode를 확인
Nonnumeric_stock_codes = df[(df['StockCode'].str.len() == 5) & (~df['StockCode'].str[:65].str.isdigit())]
Nonnumeric_stock_codes['StockCode'].value_counts()

Series([], Name: count, dtype: int64)

    -> 5자리 모두 정상 상품 코드

### int 변환

In [167]:
df['InvoiceNo'] = df['InvoiceNo'].astype(int)
df['CustomerID'] = df['CustomerID'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 391893 entries, 0 to 402730
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    391893 non-null  int64
 1   StockCode    391893 non-null  object
 2   Description  391893 non-null  object
 3   Quantity     391893 non-null  int64
 4   InvoiceDate  391893 non-null  datetime64[ns]
 5   UnitPrice    391893 non-null  float64
 6   CustomerID   391893 non-null  int64
 7   Country      391893 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(3)
memory usage: 26.9+ MB

In [169]:
df['InvoiceNo'].value_counts()

InvoiceNo
500356    270
511522    255
531382    251
507235    250
511051    248
         ...
493794      1
526634      1
493797      1
526635      1
511161      1
Name: count, Length: 18192, dtype: int64

    27728 -> 18192

### 이상치 확인

In [170]:
df.describe()

,InvoiceNo,Quantity,InvoiceDate,UnitPrice,CustomerID
count,391893.000000,391893.000000,391893,391893.000000,391893.000000
mean,513932.232308,13.717522,2010-06-25 15:07:11.791687680,2.989452,15365.106098
min,489434.000000,1.000000,2009-12-01 07:45:00,0.000000,12346.000000
25%,502259.000000,2.000000,2010-03-23 15:11:00,1.250000,13999.000000
50%,514355.000000,5.000000,2010-07-01 16:48:00,1.950000,15311.000000
75%,525959.000000,12.000000,2010-10-07 19:51:00,3.750000,16797.000000
max,536364.000000,19152.000000,2010-11-30 19:35:00,295.000000,18287.000000
std,13669.823658,98.335630,NaN,4.278152,1673.496150

In [171]:
df.to_csv('./Online Retail_2009.csv', index = False)